:root {
  --color-primary: #ce0000;
  --color-secondary: #333;
  --font-main: 'Poppins', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
}
main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

#title{
    font-size: 25px;
    padding-top: 20px;
    text-align: center;
}

#closeBtn {
  position: absolute;
  top: 10px;   /* jarak dari atas */
  right: 10px; /* jarak dari kanan */
  cursor: pointer;
  font-size: 24px; /* ukuran icon */
  color: white;
  background-color: var(--color-primary);
  font-size: 11px;
}

#main-menu{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 5px;
    flex-direction: column;
}


    #hamburgerbar {
         position: fixed;
    top: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: max-content;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 99;
      div{
          display: flex;
          align-items: center;
          justify-content: center;
          i{
              font-weight: bolder;
            color: var(--color-primary);
            font-size: 30px;
          }
      }
    }

    /* Sidebar style */
    .sidebar {
      position: fixed;
      top: 0;
      left: -250px; /* sembunyi di kiri */
      width: 250px;
      height: 100%;
      background-color: var(--color-primary);
      color: white;
      padding: 20px;
      box-sizing: border-box;
      transition: left 0.3s ease;
      z-index: 1000;
      display: flex;
      flex-direction: column;
    }

    /* Sidebar tampil */
    .sidebar.active {
      left: 0;
      
    }

    /* Tombol close di kanan atas sidebar */
    .sidebar .close-btn {
      align-self: flex-end;
      font-size: 24px;
      cursor: pointer;
      margin-bottom: 20px;
      color: white;
      background-color: white;
    }

    /* Style link sidebar */
    .sidebar a {
      color: white;
      text-decoration: none;
      margin: 10px 0;
      font-size: 18px;
      transition: color 0.2s;
    }

    .sidebar a:hover {
      color: #8f8f8f;
    }

    /* Loader full layar */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* background loader */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Animasi spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;       /* warna abu-abu */
  border-top: 5px solid var(--color-primary); /* warna utama */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  font-weight: bold;
}

/* Keyframes untuk animasi */
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}